body{
    width:4cap;
    height: 550px;
    background-color: #1F2937;
    color: white;
}

.searches{
    margin-left: 3em;
}

input{
    color:white;
    background-color: black;
    border: 1px solid white;
    width: 400px;
    height: 40px;
    border-radius: 5px;
}

input:hover{
    border-color: aqua;
}

li{
    font-size: 1.5em;
    width: 400px;
    height: 40px;
}

a{
    text-decoration: none;
    list-style-type: none;
    color: white;
    transition: .2s;
}

a:hover{
    color: grey;
}

/* Add this to your CSS file or in a <style> tag in your HTML */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    text-align: center;
}

.popup h2 {
    margin: 0;
}

.popup p {
    margin-top: 10px;
}

.popup input {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}

.popup button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
